:root{
    --main-font:"Roboto", sans-serif;
    --secondary-font:"Raleway", sans-serif;
}
main {
    font-family: var(--main-font);
}  
.links li a:hover {
    color: blue;
  }
.links a{
    color: black;
    font-family: var(--main-font);
}
.buttons li button:hover{
    color: white;
    background-color: #2196F3;
    cursor: pointer;
    font-weight: 500;
    size: 16px;
}
.footer-portfolio{
    background-color: #2F303A;
}
.footer-portfolio p, a{
    color: white;
    font-weight: 400;
    size: 14px;
    font-family: var(--main-font);
    
}
.profil-portfolio span{
    font-family: var(--secondary-font);
    font-weight: 700;
    size: 26px;
}
.links a{
    font-weight: 500;
    size: 14px;
}
.title-team{
    font-weight: 700;
    size: 36px;
}
.team-workers p{
    font-weight: 500;
    size: 16px;
}
.img-portfolio .p-item{
    font-weight: 700;
    size: 18px;
}
.img-portfolio .p-name{
    font-weight: 400;
    size: 16px;
    color: #757575;
}
.footer-portfolio span{
    font-family: var(--secondary-font);
    font-weight: 700;
    size: 26px;
}
.buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    margin-top: 94px;
    margin-bottom: 50px;
    border-radius: 4px;
}
.buttons button{
    font-weight: 700;
    width: 125px;
    height: 38px;
}
.Img{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.img-portfolio{
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-gap: 20px;
    justify-content: center;
    margin-bottom: 94px;
}
.img-portfolio img{
    width: 370px;
    height: 294px;
}
.p-item{
    text-align: center;
    padding-top: 20px;
}
.p-name{
    text-align: center;
    padding-top: 4px;
}
.footer-portfolio{
    background-color: #2F303A;
    width: 1600px;
    height: 252px;
    padding-top: 60px;
    padding-left: 215px;
    display: flex;
    flex-direction: column;
}
.footer-portfolio p{
    color: white;
    font-weight: 400;
    font-size: 14px;
    font-family: var(--main-font);
    text-align: left;
    padding-top: 20px;
    margin-bottom: 9px;
}
.footer-portfolio a{
    color: white;
    display: flex;
    font-size: 14px;
    opacity: 0.6;
    margin-bottom: 9px;
}   
.title-footer{
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 20px;
} 
.links{
    display: flex;
    flex-direction: row;
    margin-left: 238px;
    gap: 50px;
    font-size: 18px;
    font-weight: 500px;
}
.link-email{
    margin-left: 344px;
}
.title-profil{
    font-size: 26px;
    margin-left: 215px;
    margin-top: 24px;
}