:root{
    --main-font:"Roboto", sans-serif;
    --secondary-font:"Raleway", sans-serif;
}
main {
    font-family: var(--main-font);
}
.links-nav a:hover {
    color: blue;
    
  }
.links a{
    color: black;
    font-family: var(--main-font);
}
#Decision button{
    cursor: pointer;
}

#Decision{
    background-color: #2F303A;
    width: 1600px;
    height: 600px;
}
#Team{
    background-color: #F5F4FA;
}
#Team p{
    background-color: white;
}
.footer{
    background-color: #2F303A;
}
.footer p, a{
    color: white;
    font-weight: 400;
    size: 14px;
    font-family: var(--main-font);
}
.profil span{
    font-family: var(--secondary-font); 
    font-weight: 700;
    size: 26px;
    
}
.footer span{
    font-family: var(--secondary-font);
    font-weight: 700;
    size: 26px;
}
.links a{
    font-weight: 500;
    size: 14px;
}
#Decision .Decision-title{
    font-weight: 900;
    size: 44px;
    width: 696px;
    height: 120px;
    line-height: 60px;
}
#Decision .Decision-button{
    font-weight: 700;
    size: 16px;
    border-radius: 4px;
    margin: 0 auto;
}
.items-doings h4{
    font-weight: 700;
    size: 14px;
}
.items-doings p{
    font-weight: 400;
    size: 14px;
}
.title-img-doings{
    font-weight: 700;
    size: 36px;
    width: 366px;
    height: 42px;
}

